@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.cdnfonts.com/css/avenir-next-lt-pro";

$headings-font-family: "Oswald", sans-serif;
$font-family-sans-serif: "Avenir Next LT Pro", sans-serif;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
}