$white: #FFFFFF;
$black: #111111;
$magenta: #E728FF;
$purple: #B22BFF;
$violet: #7D2DFE;
$indigo: #462EFF;
$blue: #3F24D3;
$navy: #301284;

$light: $white;
$dark: $black;
$primary: $violet;
$secondary: $magenta;

$body-color: $light;
$input-color: $dark;